html {
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  background-color: #212f4d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 3em;
}

#calculator {
  width: 19em;
  height: 23em;
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  gap: 1em;
}

#display {
  display: flex;
  gap: 5em;
  justify-content: right;
  padding: 0 0.5em;
  background-color: #828381;
  height: 3em;
}

#displayContent {
  font-size: 2em;
  margin: 0;
}

#buttons {
  display: flex;
  background-color: #383838;
  padding: 0.5em;
  flex-grow: 1;
}

#buttons,
#buttons * {
  gap: 0.5em;
}

.button {
  border-radius: 0.5em;
  border: 0.15em solid black;
  padding: 1em;
  font-size: 1.1em;
  font-weight: bolder;
}

#numbers {
  display: flex;
  flex-wrap: wrap;
  flex: 3 0 0;
}

#numbers * {
  flex: 0 0 30%;
}

#numbers .button {
  background-color: #979bb6;
}

#numbers .button:hover {
  background-color: #6c6f83;
}

#math {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#math * {
  background-color: #848484;
  flex: 1;
}

#math *:hover {
  background-color: #636363;
}

#eval {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#eval * {
  flex: 1;
}

#buttonClear {
  background-color: #510404;
  color: white;
}

#buttonClear:hover {
  background-color: #2d0202;
}

#buttonEquals:hover {
  background-color: #bdbdbd;
}
